@using Packt.Shared;
@model HttpResponseMessage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Delete Customer Result Page</h1>

<div class="row">
    <p>StatusCode</p>
    <p>@Model.StatusCode</p>
    <p>RequestMessage.Headers</p>
    <p>@Model.RequestMessage.Headers</p>
</div>
